body {
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
.navbar {
  width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0px;
   }
.navbar ul {
    display: flex;
    justify-content: space-evenly;
   
}
.navbar ul li {
    list-style-type: none;
}
.navbar ul li a {
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: black;
    align-items: center;
    margin: 5px;
}

.container {
    width: 980px;
    margin: 0 auto;
}
#phone {
    font-family: bold;
    display: block;
    padding: 0;
}

.order {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 100px;
}
.number {
  font-weight: bold;
}
.fon {
    /* display: flex;
    align-items: center; */
    padding-top: 100px;
}

.main-div {
  background-color: #28285A;
  padding: 100px 0;
  margin: 20px 0;
}
.img-group {
  background-color: white;
  border-radius: 100%;
  text-align: center;
  width: 100px;
  height: 100px;
  padding-top: 15px;
  margin: 0 auto;
}
.group {
  text-align: center;
  color: white;
  padding: 20px 0;
}
.justify-center {
  justify-content: center;
}
.partner {
  text-align: center;
  margin-bottom: 30px;
}

.advantage {
  background-color: #28285A;
  color: white;
  text-align: center;
  padding: 50px;
}
main {
    background-image: url(./images/teplovoe-oborudovanie-restorana-02\ 1.png);
    width: 700px;
    height: 400px ;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;  
}
.h2-header {
    color: white;
    background-color: gray;
    width: 350px;
    padding: 10px;
    text-align: center;
    margin-left: -20px;
}
.main-order {
  background-color: #28285A; 
  color: white;
  margin-left: 20px;
  padding: 10px 50px;
  font-weight: bold;
}


section {
    color: white;
    background-color: rgba(61, 18, 61, 0.863);
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}
.h2-group {
  text-align: center;
  color: white;
  margin-top: 5px;
  text-transform: uppercase;
}
.popular {
  text-transform: uppercase;
}
.bg-blue dark {
  color: white;
  background-color: rgba(61, 18, 61, 0.863);
  padding: 20px;
}
.right {
  float: right;
  padding: 30px;
  margin: 50px;
}
.left {
  float: left;
  padding: 30px;
  margin: 50px;
}
.text {
  margin-top: 50px;
  margin-bottom: 100px;
}
.text-1 {
  padding: 5px;
}

.partner {
  background-color: white;
}
.photo {
  background-color: rgb(209, 202, 202);
  padding: 20px 10px;
  margin: 10px;
}

.map {
  width: 100%;
  height: 75vh;
  background-image: url(./images/GoogleMapTA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-map {
  margin: 20px 50px 20px 10px;
  padding: 10px 10px 10px 10px;
  float: right;
  width: 300px;
  height: 400px;
  background-color: white;
}
.app {
  background-color: darkblue;
  color: white;
  text-align: center;
  padding: 10px 50px;
  margin-bottom: 20px;

}
article {
  text-align: center;
}
.tarif {
  color: white;
  background-color: rgb(59, 6, 59);
  border: none;
  padding: 15px 50px;
  margin: 50px;
  
}
footer {
  color: white;
  background-color: black;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
footer ul {
  display: flex;
  justify-content: space-evenly;
}
footer ul li {
  list-style-type: none;
  padding: 1.3rem;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
footer ul li a p {
  color: white;
}
#phone {
  font-family: bold;
  display: block;
  padding: 0;
}
#phone a {
padding: 0;
}

@media (max-width: 900px) {
.navbar {
  display: flex;
  flex-direction: column;
}
}
@media (max-width: 700px) {
  body {
    background-color: tomato;
  }
  }
  @media (max-width: 500px) {
    body {
      background-color: rebeccapurple;
    }
    }
    @media (max-width: 900px) {
      main {
          width: 300px;
      }
  }
  div {
      font-size: 1.2rem;
  }
  @media (max-width: 768px) {
       {
          width: 250px;
      }
  }
  article p {
      font-size: 1.1rem;
  }
  @media (max-width: 565px) {
      article img {
          width: 100%;
      }
  }
  article p {
      font-size: 1rem;
  }
  @media (max-width:500px) {
      .sand {
          display: inline-block;
      }
  
  .navbar ul,
  nav button {
      display: none;
  }
  .logo {
      flex-grow: 1;
  }
  }
      
.white {
  color: white;
}
.rights {
  display: flex;
  justify-content: space-evenly;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 0 0;
}
.col-auto {
    flex: 0 0 auto;
  }
  .col-1 {
    flex: 0 0 8.33333333%;
  }
  .col-2 {
    flex: 0 0 16.66666667%;
  }
  .col-3 {
    flex: 0 0 25%;
  }
  .col-4 {
    flex: 0 0 33.3333333%;
  }
  .col-5 {
    flex: 0 0 41.66666667%;
  }
  .col-6 {
    flex: 0 0 50%;
  }
  .col-7 {
    flex: 0 0 58.333333333%;
  }
  .col-8 {
    flex: 0 0 66.66666667%;
  }
  .col-9 {
    flex: 0 0 75%;
  }
  .col-10 {
    flex: 0 0 83.33333333%;
  }
  .col-11 {
    flex: 0 0 96.66666667%;
  }
  .col-12 {
    flex: 0 0 100%;
  }
  .example-1 {
    border-radius: 100%;
    padding: 9px;
    border: 3px solid black;
    background-color: brown;
    color: white;
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
  .ex-1 {
    display: none;
  }
  .ex-1:hover {
    background-color: black;
    color: white;
    display: inline;
    border-radius: 25px;
  }
  .dropdown-1 {
    display: none;
  }
  .navbar ul li:hover .dropdown-1 {
display: block;
position: absolute;
background-color: gainsboro;
margin-top: 15px;
margin-left: 15px;
  }
  .navbar ul li:hover .dropdown-1 ul {
    display: block;
    margin: 10px;
  }
  .navbar ul li:hover .dropdown-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }
  .navbar ul li:hover .dropdown-1 ul li:last-child {
    border-bottom: none;
  }
  @media (max-width: 768px) {
    .container {
      width: 750px;
    }
    .navbar {
      background-color: pink;
    }
.fon {
  background-color: pink;
}
.main-order {
  background-color: pink;
}
.partner {
  background-color: pink;
}
.advantage {
  background-color: pink;
}
.map {
  background-color: pink;
}
.footer {
  background-color: pink;
}
.knopka {
  width: 32px;
  height: 21px;
  top: 2px;
  right: 6px;
  background-color: purple;
  border-radius: 2px;
  position: absolute;
  /* display: none; */
}
.knopka {
  display: block;
}
.lan {
  width: 29px;
  height: 3px;
  background-color: salmon;
}

  }
  @media (max-width: 668px) {
    .container {
      width: 450px;
    }
    .navbar {
      background-color: pink;
      width: 100px;
    }
.fon {
  background-color: pink;
  margin-top: 4px;
  border-radius: 3px;
}
.main-order {
  background-color: pink;
  width: 100%;
  margin-top: 4px;
  height: 250px;
}
.partner {
  background-color: pink;
  width: 100%;
  margin-top: 4px;
  height: 250px;
}
.main-div .img-group {
  width: 100%;
}
.advantage {
  background-color: pink;
  width: 100%;
  margin-top: 4px;
  height: 250px;
}
.map {
  background-color: pink;
  width: 100%;
  margin-top: 4px;
  height: 150px;
}
.card-map {
  width: 50%;
  margin-top: 4px;
  height: 100px;
  h1 {
    width: 10px;
  }
}
.footer {
  background-color: pink;
  height: 35px;
  margin-top: 4px;
}
  }
  
@media only screen and (max-width:480px) {
  .container {
    width: 320px;
  }
  .navbar {
    background-color: pink;
    width: 100px;
  }
.fon {
background-color: pink;
margin-top: 4px;
border-radius: 3px;
}
.main-order {
background-color: pink;
width: 100%;
margin-top: 4px;
height: 250px;
}
.partner {
background-color: pink;
width: 100%;
margin-top: 4px;
height: 250px;
}
.advantage {
background-color: pink;
width: 100%;
margin-top: 4px;
height: 250px;
}
.map {
background-color: pink;
width: 100%;
margin-top: 4px;
height: 250px;
}
.footer {
background-color: pink;
height: 35px;
margin-top: 4px;
}
}