body {
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
.navbar {
    display: flex;
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
}
.navbar ul li {
    list-style-type: none;
}
.navbar ul li a {
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: black;
}
.container {
    width: 980px;
    margin: 0 auto;
}
code {
    font-family: bold ;
}
.fon {
    /* display: flex;
    align-items: center; */
    padding-top: 100px;
}

.main-div {
  background-color: #28285A;
  padding: 100px 0;
  margin: 20px 0;
}
.img-group {
  background-color: white;
  border-radius: 100%;
  text-align: center;
  width: 100px;
  height: 100px;
  padding-top: 15px;
  margin: 0 auto;
}
.group {
  text-align: center;
  color: white;
  padding: 20px 0;
}
.justify-center {
  justify-content: center;
}



main {
    background-image: url(./images/teplovoe-oborudovanie-restorana-02\ 1.png);
    width: 700px;
    height: 400px ;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;  
}
.h2-header {
    color: white;
    background-color: gray;
    width: 350px;
    padding: 10px;
    text-align: center;
    margin-left: -20px;
}

section {
    color: white;
    background-color: rgba(61, 18, 61, 0.863);
    /* text-align: center; */
    padding-top: 20px;
    margin-top: 20px;
}
.h2-group {
  text-align: center;
  color: white;
  margin-top: 5px;
}
.bg-blue dark {
  color: white;
  background-color: darkblue;
}
.right {
  float: right;
  padding: 30px;
  margin: 50px;
}
.left {
  float: left;
  padding: 30px;
  margin: 50px;
}
.text {
  margin-top: 50px;
  margin-bottom: 100px;
}

.partner {
  background-color: white;
}
article {
  text-align: center;
}
.photo {
  background-color: rgb(230, 227, 227);
  padding: 20px 10px;
  margin: 10px;
}
.tarif {
  color: white;
  background-color: rgb(59, 6, 59);
  border: none;
  padding: 15px 30px;
  margin: 50px;
}
footer {
  color: white;
  background-color: black;
}
.footer {
  display: flex;
  justify-content: space-evenly;

}
footer ul {
  display: flex;
  justify-content: space-evenly;
}
footer ul li {
  list-style-type: none;
  padding: 1.3rem;
}

.white {
  color: white;
}
.rights {
  display: flex;
  justify-content: space-evenly;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 0 0;
}
.col-auto {
    flex: 0 0 auto;
  }
  .col-1 {
    flex: 0 0 8.33333333%;
  }
  .col-2 {
    flex: 0 0 16.66666667%;
  }
  .col-3 {
    flex: 0 0 25%;
  }
  .col-4 {
    flex: 0 0 33.3333333%;
  }
  .col-5 {
    flex: 0 0 41.66666667%;
  }
  .col-6 {
    flex: 0 0 50%;
  }
  .col-7 {
    flex: 0 0 58.333333333%;
  }
  .col-8 {
    flex: 0 0 66.66666667%;
  }
  .col-9 {
    flex: 0 0 75%;
  }
  .col-10 {
    flex: 0 0 83.33333333%;
  }
  .col-11 {
    flex: 0 0 96.66666667%;
  }
  .col-12 {
    flex: 0 0 100%;
  }
